hardhat/node_modules
hardhat/artifacts
hardhat/cache
hardhat/deployments/hardhat
hardhat/deployments/localhost
hardhat/deployments/geth
hardhat/deployments/*
hardhat/typechain-types

hardhat/.prettierignore.ci

.env
./.env
./*.env
./.env.*
.env*

.env.prod
.env.*

/config/dApps/hardhat.env

hardhat/.env
hardhat/*.env
hardhat/.env.*

ops/testnet/.terraform/providers
.idea/
.vscode/
.run/
bin/
vendor/
.appData/
.DS_Store

dist/


*.so

.appData/

notepad.sh
/.env.prod2

.appData

hardhat/.deps/

logs/

job-*/

notepad.txt

*.exe

repos/

test/noop-results/*
test/downloaded-files/*

./node_modules/
